<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Uptech Org</title>
    <link rel="stylesheet" href="css/CSS.css" type="text/css">
</head>
<body>

<section class="container">
    <aside class="block">
        <div class="log_panel">
        <label id="login_head">Login Here </label>

        <form class="form_control">
            <input type="text" placeholder="Username" required><br>
            <input type="password" placeholder="Password" required><br>
            <input type="button" name="Sign In" value="Sign In">
        </form>
        </div>
    </aside>
    <div class="in_body">
        <div class="brand"> UPTECH Org</div>
            <div class="slogan">Leading The World To Technology</div>

        <!--<label class="slogan">Leading The World To Technology</label>-->
    </div>
</section>
</body>
</html>